<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0;"><span style="color: #2b2301;">A RESTful API&nbsp; to Google PlayStore and AppleStore</span>&nbsp;</h1>
<h2 style="color: #2e6c80;">About:</h2>
<p>APIs to easily crawl the Google Play Store and the Apple Store using HTTP methods&nbsp;<em>without any external dependencies.</em></p>
<h2>Usage PlayStore:</h2>
<p><strong>Example requests</strong></p>
<hr />
<p><strong>APP:</strong> Get the full detail of an application.Options:</p>
<ul>
<li><code>appId</code>: the Google Play id of the application.</li>
</ul>
<table class="editorDemoTable" style="margin-left: 30px; height: 14px;" width="456">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td style="width: 446px;"><strong>GET</strong> /api/google/app/com.itau</td>
</tr>
</tbody>
</table>
<p><strong> N OK SEARCH:</strong> Get a list of apps that results of searching by the given term. Options:</p>
<ul>
<li><code>term</code>: the term to search by. (i.e corrida).</li>
</ul>
<table class="editorDemoTable" style="height: 21px; margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td style="width: 441px;"><strong>GET&nbsp;</strong>/api/google/search/banco</td>
</tr>
</tbody>
</table>
<p><strong>DEVELOPER:</strong> Get a list of applications by the given developer name. Options:</p>
<ul>
<li><code>devId</code>: the name of the developer.</li>
</ul>
<table class="editorDemoTable" style="margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong><strong>GET&nbsp;</strong></strong>/api/google/developer/Ita&uacute; Unibanco S. A.</td>
</tr>
</tbody>
</table>
<p><strong>REVIEWS:</strong> Get a page of reviews for a specific application. Options:</p>
<ul>
<li>&nbsp;<code>appId</code>: the Google Play id of the application.</li>
</ul>
<table class="editorDemoTable" style="margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong>GET&nbsp;</strong>/api/google/developer/com.itau</td>
</tr>
</tbody>
</table>
<p><strong>SIMILAR:</strong> Get &nbsp;a list of similar apps to the one specified. Options:</p>
<ul>
<li>&nbsp;<code>appId</code>: the Google Play id of the application.</li>
</ul>
<p style="padding-left: 30px;"><code></code></p>
<table class="editorDemoTable" style="margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong><strong>GET&nbsp;</strong></strong>/api/google/similar/com.itau</td>
</tr>
</tbody>
</table>
<p><strong>PERMISSION:</strong> Get the list of permissions an app has access to. Options:</p>
<ul style="padding-left: 30px;">
<li>&nbsp;<code>appId</code>: the Google Play id of the application.</li>
</ul>
<table class="editorDemoTable" style="margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong>GET&nbsp;</strong>/api/google/developer/Ita&uacute; Unibanco S. A.</td>
</tr>
</tbody>
</table>
<p style="padding-left: 30px;">&nbsp;</p>
<hr />
<h2>Usage AppleStore:</h2>
<p><strong>Example requests</strong></p>
<hr />
<p><strong>APP:</strong> Get the full detail of an application.Options:</p>
<ul>
<li><code>appId</code>: the Google Play id of the application.</li>
</ul>
<table class="editorDemoTable" style="margin-left: 30px;" width="456">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong>GET</strong> /api/apple/app/474505665</td>
</tr>
</tbody>
</table>
<p><strong>N OK SEARCH:</strong> Get a list of apps that results of searching by the given term. Options:</p>
<ul>
<li><code>term</code>: the term to search by. (i.e corrida).</li>
</ul>
<table class="editorDemoTable" style="margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong>GET&nbsp;</strong>/api/apple/search/itau</td>
</tr>
</tbody>
</table>
<p><strong>DEVELOPER:</strong> Get a list of applications by the given developer name. Options:</p>
<ul>
<li><code>devId</code>: the name of the developer.</li>
</ul>
<table class="editorDemoTable" style="margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong>GET&nbsp;</strong>/api/apple/developer/340461284</td>
</tr>
</tbody>
</table>
<p><strong>REVIEWS:</strong> Get a page of reviews for a specific application. Options:</p>
<ul>
<li><code>appId</code>: the Apple Store id of the application.</li>
</ul>
<table class="editorDemoTable" style="margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong>GET&nbsp;</strong>/api/apple/reviews/com.itau.iphone.varejo</td>
</tr>
</tbody>
</table>
<p><strong>N OK SIMILAR:</strong> Get &nbsp;a list of similar apps to the one specified. Options:</p>
<ul>
<li>&nbsp;<code>appId</code>: the Apple Store id of the application.</li>
</ul>
<p style="padding-left: 30px;"><code></code></p>
<table class="editorDemoTable" style="margin-left: 30px;" width="451">
<tbody style="padding-left: 30px;">
<tr style="padding-left: 30px;">
<td><strong>GET&nbsp;</strong>/api/apple/similar/com.itau</td>
</tr>
</tbody>
</table>
<p style="padding-left: 30px;">&nbsp;</p>
<hr />
<p><strong><span style="color: #999999;">Developer: Flavio Rodrigues</span></strong></p>
<p><strong><span style="color: #999999;">Link Base : https://prod-api-store.herokuapp.com/</span></strong></p>
<p>&nbsp;</p>